[submodule "tomlplusplus"]
	path = external-libs/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "spdlog"]
	path = external-libs/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "libgit2"]
	path = external-libs/libgit2
	url = https://github.com/libgit2/libgit2.git
[submodule "clipp"]
	path = external-libs/clipp
	url = https://github.com/muellan/clipp.git
