[submodule "tomlplusplus"]
	path = external-libs/tomlplusplus
	url = git@github.com:marzer/tomlplusplus.git
[submodule "spdlog"]
	path = external-libs/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "libgit2"]
	path = external-libs/libgit2
	url = git@github.com:libgit2/libgit2.git
[submodule "clipp"]
	path = external-libs/clipp
	url = git@github.com:muellan/clipp.git
