[submodule "tomlplusplus"]
	path = tomlplusplus
	url = git@github.com:marzer/tomlplusplus.git
[submodule "spdlog"]
	path = spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "libgit2"]
	path = libgit2
	url = git@github.com:libgit2/libgit2.git
